@*Personalizar el Usuario no encontrado de una página*@
<div class="alert alert-info" role="alert">
  Lo sentimos, no se encuentra la página
</div>
@code{
    protected override void OnInitialized(){
        Console.WriteLine("404, Ruta no encontrada");
    }
}